* {
    box-sizing: border-box;
}
body {
    font-family: Roboto;
    min-width: 1150px;
    max-width: 1920px;
}

.heder {
    padding-inline: 20px;
}
.heder__content {
    background-color: #EEEFF1;
    padding-left: 20.9%;
    height: 700px;
}
.content_nav__link {
    display: flex;
    gap: 40px;
}

.content_nav__link a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #000000;
}

.content_nav__link a :hover {
    color: #34547A;
}

.heder__content_nav {
    margin-inline: auto;
    padding-top: 80px;
}

.heder__content_title h1{
    font-weight: 500;
    font-size: 48px;
    padding-top: 162px;
}

.heder__content_title p {
    font-size: 16px;
    line-height: 26.25px;
    letter-spacing: 0.02em;
    color: #727272;
    width: 540px;
    padding-top: 55px;
    padding-bottom: 57px;
}

.heder__content_buttun {
    background-color: #34547A;
    color: #ffff;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 0;
    padding: 19px 40px 25px 41px;
}

.main__content_about{
    display: flex;
    justify-content: center;
    
}
.content_about {
    text-align: center;
}
.content_about h1 {
    color: #000000;
    font-weight: 500;
    font-size: 32px;
    line-height: 37.5px;
    width: auto;
    padding-top: 112px;
    padding-bottom: 50px;
}

.content_about p {
    font-size: 16px;
    line-height: 26.25px;
    color: #727272;
    width: 540px;
    padding-bottom: 100px;
}

.main__content_projekt {
    background-color: #34547A;
    height: 250px;
}